root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = false

[*.md]
indent_size = 4
insert_final_newline = false

[*.html]
indent_size = 2
indent_style = space
insert_final_newline = false

[*.css]
indent_size =  2
indent_style = space
insert_final_newline = false

[*.pug]
indent_size = 2
indent_style = space
insert_final_newline = false

[*.scss]
indent_size = 2
indent_style = space
insert_final_newline = false

[*.js]
indent_size = 2
indent_style = space
insert_final_newline = false

[*.tsx]
indent_size = 2
indent_style = space
insert_final_newline = false